<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un média</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'bibliothecaires_index' %}">Accueil</a></li>
        </ul>
    </nav>
    <h1>Ajouter un média.</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{media_form.as_p}}
        <input type="submit" value="Ajouter le média">
    </form>

    <h2>Ajouter un jeu de plateau.</h2>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{jeu_form.as_p}}
        <input type="submit" value="Ajouter le jeu de plateau">
    </form>
</body>
</html>