<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des membres</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'bibliothecaires_index' %}">Accueil</a></li>
        </ul>
    </nav>
    <h1>Liste des membres.</h1>
    <ul>
        {% for membre in membres %}
        <li>Nom : {{membre.nom}} - Prénom : {{membre.prenom}}
            <a href="{% url 'modifier_membre' membre.id %}">Modifier</a>
            <span> - </span>
            <a href="{% url 'supprimer_membre' membre.id %}">Supprimer</a>
        </li>
        <ul>
            {% for emprunt in membre.emprunt_set.all %}
            <li>{{emprunt.media.titre}} ({{emprunt.media.type}}) - Emprunté le {{emprunt.date_emprunt|date:"d/m/y"}}</li>
            {% empty %}
            <li>Aucun emprunt</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
</body>
</html>